# Ignore system files
*.tmp
*.log
*.bak
.DS_Store
Thumbs.db
.idea/
.vscode/
.AppleDouble

# Ignore Flutter build directories
build/
.android/
.ios/
.macos/
.web/

# Ignore user-specific files
*.iml
*.swp
*.swo
*.orig
*.pyc
*.class
*.obj

# Ignore OS-specific files
*.DS_Store
*.ini
*.lnk
*.dat
*.db